* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    /* PRINCIPAL */
    --red: #e3646e;
    --purple: #bb72e9;
    --blue: #3996db;
    --green: #82bc4f;
    --yellow: #eabd5f;


    /* BASE */
    --gray-100: #E2E4E9;
    --gray-200: #C0C4CE;
    --gray-300: #878EA1;
    --gray-400: #292C34;
    --gray-500: #16181D;
    --gray-600: #0D0E11;

    /* FONTES */
    --font-family-asap: "Asap", sans-serif;
    --title-lg-asap: bold 56px/120% var(--font-family-asap);
    --title-md-asap: bold 24px/120% var(--font-family-asap);
    --title-sm-asap: bold 16px/120% var(--font-family-asap);

    --font-family-inconsolata: "Inconsolata", monospace;
    --subtitle-incosolata: 20px/120% var(--font-family-inconsolata);

    --font-family-maven-pro: "Maven Pro", sans-serif;
    --text-md-maven: 16px/160% var(--font-family-maven-pro);
    --text-sm-maven: 14px/160% var(--font-family-maven-pro);
   

}
body {
    background-color: var(--gray-500);
    color: var(--gray-100);
    font-family: var(--font-family-maven-pro);
}
img {
    max-width: 100%;
    height: auto;
}