header{
    background-image: url(assets/images/Background_Intro.png);
    background-size: cover;
    background-position: center;
   
    z-index: -1;


}
.perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 120px;
    text-align: center;
    margin-bottom: 90px;
}
.perfil span{
    
   font: var(--subtitle-incosolata);
   
}
.perfil h1{
   
     font: var( --title-lg-asap);
}
.perfil p{
    font-size: 14px;
}
.perfil img{
    width: 112px;
    height: 112px;
    border-radius: 50%;
    border: 3px solid var(--red);
    object-fit: cover;
}


.listaDeLinguagens ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
   
}
.listaDeLinguagens li{
    width: 114px;
    height: 40px;
    background-color: var(--gray-400);
    border-radius: 20px;
}
.listaDeLinguagens ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 9px ;
    color: var(--gray-200);
    font-family: var(--text-md-maven);
    
}
.seta{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}